


.mainContainer{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
}

label{
    
    font-size: 100px;
}
.btnContainer{
    display: flex;
    gap: 20px;
    
}
button{
    padding: 12px 30px;
    background-color: olive;
    color: white;
    font-size: 22px;
    border-radius: 8px;
   transition: all .3s ease-out;
    
}
button:hover{
    background-color: rgb(101, 101, 38);

    
}